<footer>
    <ul>
        <li class="footer-links">&copy; Music Meetup</li>
        <li class="footer-links"><a class="footer-linksa" href="/about">About</a></li>
        <li class="footer-links"><a class="footer-linksa" href="/contact">Contact</a></li>
        <li class="footer-links"><a class="footer-linksa" href="https://icons8.com/icon/33014/headphones">Headphones icon by Icons8</a></li>
    </ul>
</footer>
</body>
</html>
