<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/forms.css">
        <script src="/scripts/scripts.js"></script>
        <title>For Music</title>
    </head>
    <body>
        <!-- Beginning of Navigation -->
        <header>
            <nav class="header">
                <ul>
                    <!-- Navigation links -->
                    <li class="header-links"><a href="/"><img src="/images/icons8-headphones-24.png" alt="Headphones" width="40" height="40"></a></li>
                    <li class="header-right">
                        <ul>
                           <% if(!user) { %>
                                <li class="header-links"><a class="header-linksa" href="/users/login">Login</a></li>
                                <li class="header-links"><a class="header-linksa" href="/users/new">Sign up</a></li>
                          <%  } else { %>
                                <li class="header-links"><a class="header-linksa" href='/users/profile'>Profile</a></li>
                                <li class="header-links"><a class="header-linksa" href='/users/logout'>Logout</a></li>
                         <%   } %>
                            <li class="header-links"><a class="header-linksa" href="/connections/new">New Connection</a></li>
                        </ul>
                    </li>  
                </ul>
            </nav>
            <ul class="connections">
                <li class="connection-link"><a class="connection-linka" href="/connections">Connections</a></li>
            </ul>
        </header>

       <% if(errorMessages.length > 0) {
            errorMessages.forEach(message=> { %>
                <div class="error">
                    <%=message %>
                </div>
          <%  });
        } %>

        <% if(successMessages.length > 0) {
            successMessages.forEach(message=> { %>
                <div class="success">
                    <%=message %>
                </div>
          <%  });
        } %>