<%- include('../partials/header.ejs')%>
<main class="form-container">
    <div class="container">
        <div class="title">Login</div>
        <form action="/" method="POST">
            <div class="user-inputs">
                <div class="inputbox">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="inputbox">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</main>

<%- include('../partials/footer.ejs')%>