<%- include('../partials/header.ejs')%>
<main>
    <section class="main-paragraph">
        <h1>About Music Connections</h1>
        <p>
            Music Connections allows Charlotte students who are interested in Music to have fun!
            <br>
            You are able to find connections with others to do music related activities.
            You can also post a connection to find others who are interested in doing the same thing as you.
        </p>

        <p>
            Click the Connections tab to find some current connections or create one for yourself with 
            Start a New Connection!
        </p>
    </section>
</main>
<%- include('../partials/footer.ejs')%>