<%- include('../partials/header.ejs')%>
<main>
    <section class="main-paragraph">
        <h1>Contact</h1>
        <p>
            Site Creator: Nanayaw Boakye
            <br>
            Email: nboakye@uncc.edu
        </p>

        <p>
            UNC Charlotte address: 9201 University City Blvd,
            Charlotte, NC 28223
        </p>
    </section>
</main>

<%- include('../partials/footer.ejs')%>