<%- include('../partials/header.ejs')%>
        <!-- Beginning of Main Content -->
        <main>
            <section class="main-paragraph">
                <h1>Music Meetup</h1>
                <p>
                    Welcome to the Music Connections site. You can connect with others to do anything that
                    involves music.
                </p>
                <p>
                    To look at the available connections, click 'Connections' in the top left. 
                </p>
                <p>
                    To post a connection,
                    click 'New Connection' in the top right. If you enjoy the site, make sure to sign up for an account.
                </p>
            </section>
        </main>
        <%- include('../partials/footer.ejs')%>
